@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  --color-white: #fff;
  --color-black: #000;

  --border-radius-image: 10px;

  --product-cart-width: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: var(--color-rose-50);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius-image);
}

picture.bordered {
  border: 3px solid var(--color-red);
}

.wrapper {
  position: relative;
}

/* Header */
header {
  padding-left: 1em;
  padding-top: 1em;
}

header h1 {
  color: var(--color-rose-900);
  font-size: clamp(1.5rem, 1.212rem + 1.231vw, 2.75rem);
}

/* Main */

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  padding: 1em;
  gap: 2rem;
  line-height: 1.2;
}

.product {
  border-radius: var(--border-radius-image);
}

.product-image-container {
  border-radius: var(--border-radius-image);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-add-to-cart-container {
  width: var(--product-cart-width);
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--color-rose-50);
  color: var(--color-rose-500);
  border-radius: 100px;
  border: 2px solid var(--color-rose-500);
  cursor: pointer;
  margin-top: -20px;
}

.product-add-to-cart-container:hover {
  box-shadow: 1px 1px 1px var(--color-rose-500);
}

.product-add-to-cart-container.selected span {
  color: var(--color-white);
}

.product-add-to-cart-container.selected {
  justify-content: space-evenly;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}

.icon-container {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-white);
  border-radius: 100px;
  display: grid;
  place-content: center;
  color: var(--color-white);
}

.add-to-cart {
  border: none;
  background-color: transparent;
  color: var(--color-rose-500);
  font-weight: 600;
  cursor: pointer;
}

.add-to-cart:hover {
  scale: 1.1;
}

.product-details {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-details p {
  font-size: 14px;
  color: var(--color-rose-500);
  font-weight: 500;
}

.product-details h2 {
  font-size: 1rem;
  color: var(--color-rose-900);
}

.product-details span {
  color: var(--color-red);
  font-weight: 700;
}

.product-cart {
  background-color: var(--color-white);
  border-radius: var(--border-radius-image);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 370px;
  margin: 1em auto;
}

.product-cart-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart {
  margin: 0  auto;
} 

.product-cart h2 {
  color: var(--color-red);
}

.empty-message {
  margin-top: 0.5em;
  text-align: center;
}

.error-message {
  color: var(--color-red);
  font-size: 0.7rem;
  margin-top: 0.25em;
  text-align: center;
}

.attribution {
  margin-top: 0.75em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-green);
}


@media screen and (min-width: 800px) {
 .wrapper {
  display: flex;
  align-items: flex-start;
  padding: 1em;
 }

 header h1 {
  padding-left: 0.75em;
 }

 .products-container {
  width: 67%;
 }

 .product-cart {
  width: 32%;
  margin-top: -50px;
  margin-left: 0;
  z-index: 2;
 }

}
